<div class="mat-elevation-z8">
  <mat-table [dataSource]="userList">
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef> First name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.first_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef> Last name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.last_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="operations">
      <mat-header-cell *matHeaderCellDef>Operations</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="pointer fas fa-search" aria-hidden="true" (click)="userSelected(element)"></span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="perPage" [length]="totalPages" (page)="pageChanged($event)"></mat-paginator>
</div>
